@{
    ViewData["Title"] = "Home Page";
}
<div class="card bg-light">
    <div class="card-body">
        <div id="myCarousel" class="carousel slide homCar">
            <div class="carousel-inner">
                <div class="carousel-item">
                    @*<img style="width:100%" src="https://files.yande.re/sample/5e844088099c9c26d56f06b5d507b0d4/yande.re%20654027%20sample%20kisaragi_yuri%20landscape%20see_through%20seifuku%20skirt_lift%20wet.jpg" alt="bootstrap ecommerce templates">*@
                    <img src="https://files.yande.re/sample/5e844088099c9c26d56f06b5d507b0d4/yande.re%20654027%20sample%20kisaragi_yuri%20landscape%20see_through%20seifuku%20skirt_lift%20wet.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img style="width:100%" src="https://files.yande.re/sample/5e844088099c9c26d56f06b5d507b0d4/yande.re%20654027%20sample%20kisaragi_yuri%20landscape%20see_through%20seifuku%20skirt_lift%20wet.jpg" alt="bootstrap ecommerce templates">
                    <div class="carousel-caption">
                        <h4>Bootstrap shopping cart</h4>
                        <p><span>Very clean simple to use</span></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img style="width:100%" src="https://files.yande.re/sample/5e844088099c9c26d56f06b5d507b0d4/yande.re%20654027%20sample%20kisaragi_yuri%20landscape%20see_through%20seifuku%20skirt_lift%20wet.jpg" alt="bootstrap ecommerce templates">
                    <div class="carousel-caption">
                        <h4>Bootstrap shopping cart</h4>
                        <p><span>Very clean simple to use</span></p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>
<div id="itemData"></div>
<div id="loadingItemData" style="display: none"> cargando informacion...</div>
